## Note: this notebook was used for development. A script file has been created to use for implementation.

In [1]:
# dependencies
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:
csv_file = "data/data_clean.csv"
df = pd.read_csv(csv_file)
df.head()

,Address,County,State,Sale Date,Sale Year,Sale Month,Sale Price
0,785 VEDADO WAY NE,Fulton County,Georgia,1/3/17,2017,Jan,610000
1,440 JON SCOTT DR,Fulton County,Georgia,1/3/17,2017,Jan,215000
2,497 KING RD NW,Fulton County,Georgia,1/3/17,2017,Jan,4362991
3,1350 ROSWELL MANOR CIR,Fulton County,Georgia,1/3/17,2017,Jan,437500
4,7784 GEORGETOWN CHASE,Fulton County,Georgia,1/3/17,2017,Jan,455500

In [3]:
# check datatypes
df.dtypes

Address       object
County        object
State         object
Sale Date     object
Sale Year      int64
Sale Month    object
Sale Price     int64
dtype: object

In [4]:
# rename columns to remove capital letters and spaces
cols = {'Address': 'address',
        'County': 'county',
        'State': 'state',
        'Sale Date': 'sale_date',
        'Sale Year': 'sale_year',
        'Sale Month': 'sale_month',
        'Sale Price': 'sale_price'}
df.rename(columns = cols, inplace=True)

# preview
df.head()

,address,county,state,sale_date,sale_year,sale_month,sale_price
0,785 VEDADO WAY NE,Fulton County,Georgia,1/3/17,2017,Jan,610000
1,440 JON SCOTT DR,Fulton County,Georgia,1/3/17,2017,Jan,215000
2,497 KING RD NW,Fulton County,Georgia,1/3/17,2017,Jan,4362991
3,1350 ROSWELL MANOR CIR,Fulton County,Georgia,1/3/17,2017,Jan,437500
4,7784 GEORGETOWN CHASE,Fulton County,Georgia,1/3/17,2017,Jan,455500

### Connect to local database

In [5]:
protocol = 'postgresql'
username = 'postgres'
password = 'admin'
host = 'localhost'
database_name = 'fultoncounty_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}/{database_name}'
engine = create_engine(rds_connection_string)

### Check for tables

In [6]:
engine.table_names()

/Users/jasonnoble/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['home_sales']

### Use pandas to load merged DataFrame into database

In [7]:
df.to_sql(name='home_sales', con=engine, if_exists='replace', index=False)

### Confirm data has been added by querying the table
* NOTE: can also check using pgAdmin

In [8]:
pd.read_sql_query('select * from home_sales', con=engine).head()

,address,county,state,sale_date,sale_year,sale_month,sale_price
0,785 VEDADO WAY NE,Fulton County,Georgia,1/3/17,2017,Jan,610000
1,440 JON SCOTT DR,Fulton County,Georgia,1/3/17,2017,Jan,215000
2,497 KING RD NW,Fulton County,Georgia,1/3/17,2017,Jan,4362991
3,1350 ROSWELL MANOR CIR,Fulton County,Georgia,1/3/17,2017,Jan,437500
4,7784 GEORGETOWN CHASE,Fulton County,Georgia,1/3/17,2017,Jan,455500